
    {{ form_start(form) }}

    <div class=" form-control form-control--large max-w-4xl">

        <div class="form-item w-full">
            <label>Commentaire </label>
            {{ form_errors(form.comment) }}
            {{ form_widget(form.comment, {'attr': {'rows': '10'} }) }}
        </div>

        <div class="form-item">
            <label>Note /10 </label>
            {{ form_errors(form.rating) }}
            {{ form_widget(form.rating) }}
        </div>


        <button class="neon_button--pink">
            Valider
        </button>
    </div>

    {{ form_end(form) }}
