{% set stars = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] %}

<div class="flex flex-row whitespace-nowrap flex-nowrap">

{% for star in stars %}
{% if star < rating %}
    <i class=" fas fa-star text-neon-yellow "></i>

    {% else %}
        <i class="fas fa-star text-black"></i>
    {% endif %}

{% endfor %}
</div>
