
{% if app.user is null %}
    {% set homePath = "home" %}
{% else %}
    {% set homePath = "user_home" %}
{% endif %}
<a href="{{ path(homePath) }}">
    <h1 class="neon_sign font-neon sm:py-4 mx-auto md:mx-0 ">
            <span class="neon_sign-firstLine"><span class="neon_sign-flicker--5">M</span>o<span
                        class="neon_sign-flicker--2">v</span>ies</span>
        <span class="neon_sign-secondLine">Reca<span class="neon_sign-flicker--3">l</span>l</span>
    </h1>
    <hr class="neon-bar mt-4 sm:mt-0 mb-16">
</a>
