{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Se connecter{% endblock %}

{% block body %}
    <section id="login" class=" bg-group-filtered px-12 min-h-screen">
        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>

            <h2>Login</h2>

            <form method="post" >
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="form-control">
                    <label for="inputEmail"
                           class="">
                        Email
                    </label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class=""
                           autocomplete="email" required autofocus>
                    <label for="inputPassword"
                           class="">
                        Password</label>
                    <input type="password" name="password" id="inputPassword"
                           class=""
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >


                    <div class="checkbox mb-3">
                        <label class="">
                            <input type="checkbox" name="_remember_me"> Se rappeler de moi
                        </label>
                    </div>

                    <button class="neon_button--blue mt-4" type="submit">
                        Se connecter
                    </button>
                </div>

            </form>
        </div>

    </section>

{% endblock %}
