{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Dashboard{% endblock %}

{% block body %}
    <section id="dashboard" class=" bg-director-filtered px-4 pb-10 min-h-screen">

        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>
            <h2>Bienvenue {{ app.user.username }}</h2>


            <div class="dashboard-card">
                <h3 class="">Recherche de films</h3>
                <p class="">Recherchez tous les films, afin de les ajouter dans vos listes ! </p>
                <a href="{{ path('movies_search') }}" class="neon_button--pink">Recherche</a>
            </div>


            <div class="dashboard-card">
                <h3 class=""> Ma Liste de films vus</h3>
                <p>Vous voulez revoir un film, mais être sûr que c'est bien celui auquel vous pensez ? Vous voulez
                    vérifier si vous avez déjà vu ce film ? C'est ici !</p>
                <a href="{{ path('user_watched_movies') }}" class="neon_button--pink">Films vus</a>
            </div>


            <div class="dashboard-card">
                <h3>Ma Liste de films à voir</h3>
                <p>Vous voulez retrouver le titre du film dont Jordan vous a parlé à la machine à café ? Ou le film que
                    vous vouliez voir, mais vous aviez pas le temps ? Il est là !</p>
                <a href="{{ path('user_watchlist') }}" class="neon_button--pink">Films à voir</a>
            </div>


            <div class="dashboard-card">
                <h3>Mes Clubs</h3>
                <p>Vous organisez une soirée ciné avec votre moitié ? Avec vos potes fans de tunning ? Créez un club
                    pour partager vos films vus et vos films à voir, et voyez leurs commentaires !</p>
                <a href="{{ path('club') }}" class="neon_button--pink">Clubs</a>
            </div>




        </div>
        <a href="{{ path('app_logout') }}" class="mt-20 neon_button--blue block w-max mx-auto">Se déconnecter</a>


    </section>

{% endblock %}
