{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Homepage{% endblock %}

{% block body %}
    <section id="frontPage" class=" bg-group-filtered pt-12 min-h-screen">
        <div class="s-container">
            <div class="flex flex-col md:flex-row mb-8 md:mb-0">
                <div class=" text-5xl sm:text-8xl w-min mx-auto">
                    {{ include('_partials/neon_logo.html.twig') }}
                </div>

                <div class="header_buttons w-full flex justify-end items-center flex-col md:flex-row">
                    <a class="neon_button--blue mx-0 md:mx-4 my-4" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="neon_button--pink mx-0 md:mx-4 my-4" href="{{ path('app_register') }}">Créer un compte</a>
                </div>

            </div>

            <p class="text-2xl font-core text-base max-w-screen-sm">
                Pour te souvenir des films que tu as vus et ce dont tu en as pensé, puis partager ça avec tes amis !
            </p>


            <div class="flex md-down:items-center justify-center md-down:m-auto w-full pt-12 flex-col md:flex-row ">
                <div class="w-full sm:w-1/2 md:w-1/3 mt-6">
                    <h2 class="neon_number-pink md:w-4/5 font-neon md-down:max-w-xs md-down:text-center  md-down:m-auto text-4xl">
                        (1)</h2>
                    <p class="w-full md:w-4/5 text-justify font-core text-base md-down:max-w-xs md-down:m-auto">
                        Crée ton compte. Les données ne seront pas partagées avec
                        qui que ce soit</p>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/3 mt-6">
                    <h2 class="neon_number-blue md:w-4/5 font-neon md-down:max-w-xs md-down:text-center  md-down:m-auto text-4xl">
                        (2)</h2>
                    <p class="w-full md:w-4/5 text-justify font-core text-base md-down:max-w-xs md-down:m-auto">
                        Rajoute tes films à tes listes. Les films que tu veux
                        voir, et les films que tu as déjà vu, et rajoute leur une note et un commentaire </p>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/3 mt-6">
                    <h2 class="neon_number-red md:w-4/5 font-neon md-down:max-w-xs md-down:text-center md-down:m-auto text-4xl">
                        (3)</h2>
                    <p class="w-full md:w-4/5 text-justify font-core text-base md-down:max-w-xs md-down:m-auto">
                        Crée un Club, et rajoutes-y tes amis ! Tu pourras donc
                        comparer vos listes, et ainsi prévoir votre prochaine soirée ciné-pizza !</p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

