<h1>Salut ! Veuillez confirmer votre E-mail !</h1>

<p>
    Veuillez valider votre adresse E-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon mail</a>.
    Ce lien expirera dans :  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
