{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Créer un compte{% endblock %}

{% block body %}
<section id="login" class=" bg-group-filtered px-12 min-h-screen">
    <div class="s-container">
        <div class="neon-logo w-min m-auto text-5xl ">
            {{ include('_partials/neon_logo.html.twig') }}
        </div>
        <h2>Créer un compte</h2>

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}



        {{ form_start(registrationForm) }}
        <div class="form-control">

            <div class="flex flex-col justify-center items-center">
                <label>Email <span class="required">*</span></label>
                {{form_errors(registrationForm.email)}}
                {{form_widget(registrationForm.email)}}
            </div>

            <div class="flex flex-col justify-center items-center">
                <label>Pseudonyme <span class="required">*</span></label>
                {{form_errors(registrationForm.username)}}
                {{form_widget(registrationForm.username)}}
            </div>

            <div class="flex flex-col justify-center items-center">
                <label>Mot de passe <span class="required">*</span></label>
                {{form_errors(registrationForm.plainPassword)}}
                {{form_widget(registrationForm.plainPassword)}}
            </div>
            <div class="flex flex-col justify-center items-center">
                <label>Accepter les <a class="hyperlink" href="#">termes et conditions</a><span class="required">*</span></label>
                {{form_errors(registrationForm.agreeTerms)}}
                {{form_widget(registrationForm.agreeTerms)}}
            </div>

            {{ form_end(registrationForm) }}

            <button type="submit" class="neon_button--blue mt-4">Créer un compte</button>

            <p class="requiredText">Les champs associés à une <span class="required text-lg">*</span> sont obligatoires</p>

            <p class="text-center text-base">La création du compte nécessitera une validation de l'email</p>

        </div>

    </div>

</section>


        {% endblock %}
