

<div class="flex flex-row justify-center  sm-down:flex-col">
    <a href="{{ path('add_movie_todo', {'imdbId': movieData.id }) }}"
       class="neon_button--blue m-4 p-2 ">Liste A voir</a>

    <a href="{{ path('add_watched_movie', {'imdbId' : movieData.id}) }}"
       class="neon_button--pink  m-4 p-2 " >Liste Vu</a>
</div>
