
<div class="flex flex-row justify-center sm-down:flex-col">
    <a href="{{ path('delete_movie_todo', {'id': movieTodo.id }) }}"
       class="neon_button--red m-4 p-2 " onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film de votre watchlist ?')">Supprimer des films à voir</a>

    <a href="{{ path('add_watched_movie', {'imdbId' : movieData.id}) }}"
       class="neon_button--pink  m-4 p-2 " >Liste Vu</a>
</div>