<div class="meta-sub-wrapper">
    <div class="comment-data pb-5">
        <div class="pb-4">
            {% if movieWatched.comment.lastUpdatedAt is not null %}
                {{ movieWatched.comment.lastUpdatedAt | date('d F Y') }}
            {% else %}
                {{ movieWatched.comment.createdAt | date('d F Y') }}
            {% endif %}
        </div>
        <div class="flex justify-center pb-4 ">
            {{ include('_partials/_stars.html.twig', {rating: movieWatched.comment.rating  }) }}
        </div>

        <p class="mb-6">
            {{ movieWatched.comment.comment }}
        </p>

        {% if isEditAuthorized == true %}
            <div class="flex flex-col  items-center">

            <a href="{{ path("update_watched_movie", {id: movieWatched.id}) }}" class="neon_button--yellow w-min m-4">Modifier</a>
            <a href="{{ path("delete_watched_movie", {id: movieWatched.id}) }}" class="neon_button--red    w-min m-4" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film de votre liste de films vus ? ?')">Supprimer</a>
            </div>

        {% endif %}
    </div>


</div>