{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Recherche{% endblock %}

{% block body %}
    <section id="search" class=" bg-popcorn-girl px-4 pb-10 min-h-screen">

        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>
            <h2>Recherche</h2>
            {{ form_start(form) }}
            <div class="form-control">

                <div class="form-item">
                    <label>Recherchez un film</label>
                    {{ form_errors(form.searchValue) }}
                    {{ form_widget(form.searchValue) }}
                </div>
                <div class="form-item">
                    {{ form_errors(form.searchOptions) }}
                    {{ form_widget(form.searchOptions) }}
                </div>
                <button type="submit" class="neon_button--blue mt-4">Recherche</button>
            </div>
            {{ form_end(form) }}


            {% if error is not empty %}
                <p class="text-center font-core text-base">
                    La requête a subi une erreur {{ error }}. Veuillez réitérer votre requête ou patienter quelques
                    minutes.
                </p>
            {% elseif data is not null %}

                {% if data is not null and data.results is not empty %}
                    <div class="movieCards-wrapper">
                        {% for result in data.results %}

                            {% set isAlreadyInTodo = false %}
                            {% for movieTodo in user.movieTodos %}
                                {% if movieTodo.Movie.imdbId is same as result.id %}
                                    {% set isAlreadyInTodo = true %}
                                {% endif %}
                            {% endfor %}

                            {% set isAlreadyInWatched = false %}
                            {% for movieWatched in user.moviesWatched %}
                                {% if movieWatched.Movie.imdbId is same as result.id %}
                                    {% set isAlreadyInWatched = movieWatched.id %}
                                {% endif %}
                            {% endfor %}

                            <div class="movieCards-card">
                                {{ result.title }}


                                <div class="movieCards-img-container">
                                    <img src="{{ result.image }}" alt="poster de {{ result.title }}">
                                </div>

                                <div class="movieCards-buttons">

                                    {% if isAlreadyInTodo is empty %}
                                        <a href="{{ path('add_movie_todo', {'imdbId': result.id }) }}"
                                           class="neon_button--blue">
                                            A voir
                                        </a>
                                    {% else %}
                                        <p class="text-center pb-1">Déjà à voir</p>
                                    {% endif %}

                                    {% if isAlreadyInWatched is empty %}

                                        <a href="{{ path('add_watched_movie', {'imdbId' : result.id}) }}"
                                           class="neon_button--pink">
                                            Vu
                                        </a>
                                    {% else %}
                                        <a href="{{ path('show_watched_movie', {'id' : isAlreadyInWatched}) }}"
                                           class="neon_button--pink">
                                            Commentaire
                                        </a>
                                    {% endif %}

                                    <a href="{{ path('movie_show', {'imdbId' : result.id}) }}"
                                       class="neon_button--yellow ">
                                        En savoir plus
                                    </a>
                                </div>

                            </div>
                        {% endfor %}

                    </div>

                {% elseif data is not null and data.results is empty %}
                    <p class="text-center font-core text-base">
                        Votre requête n'a trouvé aucun résultats. Veuillez rééssayer avec d'autres paramètres.
                    </p>

                {% else %}

                    <p class="font-core text-base mt-4">Nous sommes navrés, il n'y a pas de résultats pour cette
                        recherche ! Essayez avec d'autres mots !</p>
                {% endif %}
            {% endif %}

        </div>
    </section>

{% endblock %}
