{% extends 'base.html.twig' %}
{% if showType == "BASE" %}
    {% set movie = movieData %}
{% elseif showType == "WATCHED" %}
    {% set movie = movieData %}
{% elseif showType == "TODO" %}
    {% set movie = movieData %}
{% endif %}

{% block title %}
    Movie Recall - {{ movie.title }}
{% endblock %}


{% block body %}
    <section id="show" class=" bg-popcorn-girl sm:px-4 pb-10 min-h-screen">

        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>

            <div class="block bg-background border rounded-md bg-opacity-80 border-primary-pink p-4 my-6">
                <h2>{{ movie.title }}</h2>
                <p class="italic text-center text-base pb-2">{{ movie.tagline is not empty ? movie.tagline : "" }}</p>
                <div class="showMovie-img-container">
                    <img src="{{ movie.image }}" alt="poster de {{ movie.title }}" class="mx-auto">
                </div>
                <h3>{{ movie.year }}</h3>
                <p class="px-1 sm:px-8 text-base pb-2">{{ movie.plotLocal }}</p>

                {% if showType == "BASE" %}
                    {% include "movies/show/base.html.twig" with {movieData} %}
                {% endif %}

                {% if showType == "TODO"%}
                    {% include "movies/show/towatch.html.twig" with {movieTodo} %}
                {% endif %}

                <div class="meta-wrapper">

                    <div class=" meta-sub-wrapper font-core text-base border rounded-md border-primary-pink p-4 my-6 text-center">
                        <p class="movieData"><span class="pill">Réalisation</span> {{ movie.directors }}</p>
                        <p class="movieData"><span class="pill">Scénario</span> {{ movie.writers }}</p>
                        <p class="movieData"><span class="pill">Acteurs</span> {{ movie.stars }} </p>

                        <p class="movieData"><span class="pill">Durée</span> {{ movie.runtimeStr }}</p>
                        <p class="movieData"><span class="pill">Genre</span> {{ movie.genres }}</p>
                    </div>


                    {% if showType == "WATCHED" %}
                        {% include "movies/show/watched.html.twig" with {movieWatched} %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
