{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Films à voir{% endblock %}

{% block body %}
    <section id="movieTodo" class=" bg-popcorn-girl px-4 pb-10 min-h-screen">

        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>
            <h2>Films à voir</h2>


            {% if watchList is not null %}

                <div class="movieCards-wrapper">

                    {% for movie in watchList %}
                        <div class="movieCards-card">
                            <p>
                                {{ movie["movieData"].title }}
                            </p>
                            <p>
                                {{ movie["movieData"].year }}
                            </p>

                            <div class="movieCards-img-container">
                                <img src="{{ movie["movieData"].image }}"
                                     alt="poster de {{ movie["movieData"].title }}">
                            </div>
                            <p class="text-xs">
                                {% set plot = movie["movieData"].plotLocal %}
                                {{ plot|length > 100
                                 ? plot|slice(0, 100) ~ ' ...'
                                 : plot }}
                            </p>
                            <div class="movieCards-buttons">
                                {% set isAlreadyInWatched = false %}
                                {% for movieWatched in user.moviesWatched %}
                                    {% if movieWatched.Movie.imdbId is same as movie["movieData"].id %}
                                        {% set isAlreadyInWatched = movieWatched.id  %}
                                    {% endif %}
                                {% endfor %}
                                {% if isAlreadyInWatched is empty %}

                                    <a href="{{ path('add_watched_movie', {'imdbId' : movie["movieData"].id}) }}"
                                       class="neon_button--pink">
                                        Vu
                                    </a>
                                {% else %}
                                    <a href="{{ path('show_watched_movie', {'id' : isAlreadyInWatched}) }}"
                                       class="neon_button--pink">
                                        Commentaire
                                    </a>
                                {% endif %}

                                <a href="{{ path('show_movie_todo', {'id' : movie["movieTodo"].id}) }}"
                                class="neon_button--blue">
                                    Voir Plus
                                </a>
                                <a href="{{ path('delete_movie_todo', {'id' : movie["movieTodo"].id}) }}"
                                class="neon_button--red" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film de votre watchlist ?')">
                                    Supprimer
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}

        </div>
    </section>
{% endblock %}
