{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Films vus{% endblock %}

{% block body %}
<section id="Films vus" class=" bg-popcorn-girl px-4 pb-10 min-h-screen">

    <div class="s-container">
        <div class="neon-logo w-min m-auto text-5xl ">
            {{ include('_partials/neon_logo.html.twig') }}
        </div>
        <h2>Films vus</h2>
        <div class="movieCards-wrapper">

    {% for movie in watchList %}
            <div class="movieCards-card" >
            <p>
                {{ movie["details"].title }}
            </p>


                <div class="movieCards-img-container">
                    <img src="{{ movie["details"].image }}" alt="poster de {{ movie["details"].title }}">
                </div>

<p class="text-xs">
   Le :  {{ movie["lastUpdatedDate"] | date('d F Y') }}
</p>
                <p class="text-xs">
                    {{ movie.comment|length > 70
                    ? movie.comment|slice(0, 70) ~ ' ...'
                    : movie.comment }}
                </p>
                {{ include('_partials/_stars.html.twig', {rating: movie.rating}) }}

                <div class="movieCards-buttons mt-2">


                <a href="{{ path('show_watched_movie', {'id': movie["id"] }) }}" class="neon_button--pink">
                    Voir plus
                </a>
        <a href="{{ path('update_watched_movie', {'id': movie["id"] }) }}" class="neon_button--yellow">
            Edit
        </a>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
