
@font-face {
    font-family: 'Vibur';
    font-weight: 400;
    src: url("../../fonts/Vibur/Vibur-Regular.ttf");
}

@font-face {
    font-family: 'Electrolize';
    font-weight: 400;
    src: url("../../fonts/Electrolize/Electrolize-Regular.ttf");
}