body {
    @apply font-core
}
h2 {
    @apply text-center text-5xl font-neon mb-4 block;
    color: #fee;
    text-shadow: 0 -40px 100px,
    0 0 2px, 0 0 1em #F72585,
    0 0 0.5em #F72585,
    0 0 0.1em #F72585,
    0 6px 3px #000;
}

h3 {
    @apply text-center font-core text-base text-3xl;
}