.s-container {
        padding-right:5em ;
        padding-left: 5em;

        margin-right: auto;
        margin-left: auto;

    @media (min-width: 1200px){
            width: 1170px;
    }
    @media (max-width: 768px) {
        padding-right:3em ;
        padding-left: 3em;
    }
    @media (max-width: 575px) {
        padding-right:1em ;
        padding-left: 1em;
    }
}

a.hyperlink {
    @apply  text-secondary-blue underline;

    &:hover {
        @apply text-secondary-pink;
    }
}