$backgrounds:
                ("group-filtered", "url('../../images/group_theatre_filtered.png')"),
                ("director-filtered", "url('../../images/director_colorized.png')"),
                ("popcorn-girl", "url('../../images/popcorn_eater_female.jpg')")
;

@each $name, $url in $backgrounds {
    .bg-#{$name} {
        background-image: #{$url};
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #333;
    }
}