.dashboard-card {
    @apply
    bg-background border rounded-md border-primary-pink p-4
    flex flex-col justify-center items-center
    font-core text-base
    max-w-md mx-auto my-4;

    p{
        @apply pb-4 max-w-sm;
    }
}