.neon_sign {

    @apply text-center w-min ;

}
.neon-bar {

    border: #fee solid 3px;
    border-radius: 30px;

    box-shadow: 0 0 18.1px rgba(247, 37, 133, 0.348),
    0 0 29.1px rgba(247, 37, 133, 0.5),
    0 0 33px rgba(247, 37, 133, 0.652),
    0 0 39px rgba(247, 37, 133, 1),
    inset 0 0 8.1px rgba(247, 37, 133, 0.348),
    inset 0 0 19.1px rgba(247, 37, 133, 0.5),
    inset 0 0 33px rgba(247, 37, 133, 0.9);
}

.neon_sign-firstLine {
    @apply block ;
    color: #fee;
    text-shadow: 0 -40px 100px,
    0 0 2px, 0 0 1em #F72585,
    0 0 0.5em #F72585,
    0 0 0.1em #F72585,
    0 10px 3px #000;
}

.neon_sign-secondLine {
    @apply block ;
    color: #eefffa;
    text-shadow: 0 -40px 100px, 0 0 2px,
    0 0 1em #4CC9F0,
    0 0 0.5em #4CC9F0,
    0 0 0.1em #4CC9F0,
    0 10px 3px #000;
}

$neon-number-colors: ("blue", "#eefffa", "#4CC9F0"),
        ("pink", "#fee", "#F72585"),
        ("red", "#fee", "#e14242");

@each $name, $white, $color in $neon-number-colors {
    .neon_number-#{$name} {
        @apply block ;
        color: #{$white};
        text-shadow: 0 -40px 100px, 0 0 2px,
        0 0 1em #{$color},
        0 0 0.5em #{$color},
        0 0 0.1em #{$color},
        0 6px 3px #000;
    }
}


$flicker-speeds: 1, 2, 3, 4, 5;

@each $speed in $flicker-speeds {
    .neon_sign-flicker--#{$speed} {
        animation: flicker linear infinite #{$speed}s;
    }
}

@keyframes flicker {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
