$button-colors: ("pink", "border-primary-pink text-primary-pink", "rgba(247, 37, 133, 1)"),
        ("blue", "border-primary-blue text-primary-blue", "rgba(76,201,240, 1)"),
        ("yellow", "border-neon-yellow text-neon-yellow", "rgba(255,255,0, 1)"),
        ("red", "border-neon-red text-neon-red", "rgba(245, 27, 27, 1)"),

;

@each $name, $class, $shadow in $button-colors {
    .neon_button--#{$name} {
        @apply
        ease-in bg-background px-3 font-core border text-center
        rounded-md bg-opacity-80 text-lg
        #{$class}
        ;
        transition: all ease-in .240s;

        &:hover, &:focus {
            @apply bg-white ease-in ;
            box-shadow: 0 0 20px 4px #{$shadow};
        }
        &:focus {
            outline: 2px solid #{$shadow};
        }
    }
}
