.admin-crown {
    @apply pl-4;
    text-shadow: 0  0 8px rgb(255, 255, 0), 5px 5px 5px #000;;
}


.club-user-line {
    @apply font-core text-base;

    &:nth-child(even) {
        background: rgba(255, 255, 255, 0.1);
    }

    a {
        font-size: .85rem;
    }

}