.form-control {
    @apply flex flex-col justify-center items-center
    max-w-lg m-auto mt-12
    bg-background border rounded-md bg-opacity-60 border-primary-pink p-8;

    label {
        @apply font-core text-base text-lg;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="search"],
    {
        @apply w-full mx-12 mt-2 mb-6 rounded-md px-2;
    }

    input:focus{
        outline: 2px solid rgba(76,201,240, 1);
        //box-shadow: 0 4px 4px rgba(76,201,240, 1) inset, 0 0 8px rgba(76,201,240, .21);
    }

    textarea {
        @apply text-base bg-background border border rounded-md border-primary-pink p-4  mt-2 mb-6;
        width: 90%;
        max-width: 53rem;
        &:focus {
            outline: 2px solid #F72585;
        }
    }

    select {
        @apply text-base bg-background border border rounded-md border-primary-pink p-1  mt-2 mb-6;
        &:focus {
            outline: 2px solid #F72585;
        }
    }
}

input:focus{
    outline: 2px solid rgba(76,201,240, 1);
    //box-shadow: 0 4px 4px rgba(76,201,240, 1) inset, 0 0 8px rgba(76,201,240, .21);
}

.form-item {
    @apply flex flex-col justify-center items-center;
}
.form-control--large {
    max-width: 69rem !important;
}

span.required {
    @apply text-neon-pink;
}

p.requiredText {
    @apply text-base text-sm text-center mt-4;

}