.movieCards-wrapper {
    @apply  flex flex-row flex-wrap justify-center;
}

.movieCards-card {
    @apply block bg-background border rounded-md
    border-primary-pink p-4 m-3 flex flex-col text-base
    justify-around items-center w-60;

    height: 28rem;
}

.movieCards-img-container {
    @apply  w-48 h-56;

    img {
        @apply object-contain h-full w-full;
    }
}
.movieCards-buttons {
    @apply  max-w-max flex flex-col;

    a {
        @apply mb-2
    }
}