.showMovie {

}

.showMovie-img-container {
    width: 100%;
    img {
        @apply object-contain w-full;
        max-height: 40rem;
    }
}

.meta-wrapper {
    @apply flex flex-col md:flex-row justify-center md-down:items-center;
}
.meta-sub-wrapper {
    @apply w-full md:w-1/2 font-core text-base border rounded-md border-primary-pink p-2 md:p-4 md:m-4 text-center;
    max-width: 32rem;
    width: 100%;
}

.pill {
    @apply block border rounded-md border-primary-pink px-2 w-40 text-center bg-neon-pink bg-opacity-30 mx-auto;
}
.movieData {
    @apply mx-auto pb-3;
    max-width: 30rem;
}
.comment-data {
    max-width: 30rem;
}