{% extends 'base.html.twig' %}

    {% block title %}
        Movie Recall - Modifier commentaire

    {% endblock %}

{% block body %}
    <section id="show" class=" bg-director-filtered sm:px-4 pb-10 min-h-screen">
        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>
            <h2>Ajouter un film vu</h2>

            {% include "_partials/_comment_form.html.twig" %}
        </div>

    </section>
{% endblock %}

