{% extends 'base.html.twig' %}
{% block title %}
    Movie Recall - Ajouter un utilisateur
{% endblock %}
{% block body %}

    <section id="login" class=" bg-group-filtered px-12 min-h-screen">
        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>
            <h2>Ajouter un utilisateur</h2>
            <div class="form-control">

                {{ form_start(form) }}

                <div class="flex flex-col justify-center items-center">
                    {% for message in app.flashes('maildontexist') %}
                        <div class="text-red-500 font-core">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <label> Ajouter le mail d'un utilisateur</label>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                    <button type="submit" class="neon_button--blue mt-4">Ajouter</button>
                </div>
                {{ form_end(form) }}


            </div>
        </div>
    </section>

{% endblock %}



