{% extends 'base.html.twig' %}

{% block title %}Movie Recall - Clubs{% endblock %}

{% block body %}
    <section id="Clubs" class=" bg-group-filtered px-4 pb-10 min-h-screen">

        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>
            <h2>Clubs</h2>
            <div class="w-full text-center">
                <a href="{{ path('club_creation') }}" class="neon_button--pink">Créer un club</a>
            </div>

            {% if waitingClubs is not empty %}
                <div class=" block bg-background border rounded-md bg-opacity-80 border-primary-pink p-4 my-6">
                    <h3>Demandes de groupe en attente</h3>
                    {% for waitingClub in waitingClubs %}
                        <div class="club-user-line flex flex-row xxs-down:flex-col justify-between px-1 xs-down:py-4">
                            <p class="inline xs-down:my-auto xs-down:pb-2 xxs-down:text-center">
                                {{ waitingClub["nameUserClub"] }}
                            </p>
                            <div class="buttons xs-down:flex xs-down:flex-col xs-down:justify-center ">
                                <a href="{{ path('accept_club', {"id": waitingClub["idUserClub"]} ) }}"
                                   class="neon_button--yellow xs:mx-1 xs-down:my-1">Accepter la demande</a>
                                <a href="{{ path('delete_club_user', {'id': waitingClub["idUserClub"]}) }}"
                                   class="neon_button--red xs:mx-1 xs-down:my-1">Refuser</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}


            {% for userClub in userClubs %}
                <div class=" block bg-background border rounded-md bg-opacity-80 border-primary-pink p-4 my-6">
                    <h3>{{ userClub.name }}
                        {% if userClub["user_role"] == "ADMIN" %}
                            <i class="fas fa-crown admin-crown"></i> <p class="text-base text-xs font-core inline"> Administrateur</p>
                        {% endif %}
                    </h3>
                    {% if userClub["user_role"] == "ADMIN" %}
                        <div class="text-center w-full p-4">

                            <a href="{{ path('add_user', {'id' : userClub["idClub"] }) }}" class="neon_button--blue">
                                Ajouter un utilisateur
                            </a>
                        </div>
                    {% endif %}
                    {% for user in userClub.users %}
                        {% if not (userConnected == user["user"]) %}
                            <div class="club-user-line flex flex-row xxs-down:flex-col justify-between px-1 xs-down:py-4">
                                <p class="inline xs-down:my-auto xs-down:pb-2 xxs-down:text-center">{{ user.user.username }}</p>
                                <div class="buttons xs-down:flex xs-down:flex-col xs-down:justify-center ">

                                    {% if userClub["user_role"] == "ADMIN" %}
                                        <a href="{{ path('delete_club_user', {'id': userClub["idUserClub"]}) }}"
                                           class="neon_button--red xs:mx-1 xs-down:my-1" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ user.user.username}} de ce club ?' )">Supprimer</a>
                                    {% endif %}

                                    <a href="{{ path('show_club_user_watchedlist', {'id' : user.user.id}) }}"
                                       class="neon_button--pink xs:mx-1 xs-down:my-1">
                                        Vus
                                    </a>

                                    <a href="{{ path('show_club_user_Todolist', {'id' : user.user.id}) }}"
                                       class="neon_button--blue xs:mx-1 xs-down:my-1">
                                        A voir
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>

            {% endfor %}

        </div>
    </section>
{% endblock %}
