{% extends 'base.html.twig' %}
{% block title %}
    Movie Recall - Créer un club
{% endblock %}
{% block body %}

    <section id="login" class=" bg-group-filtered px-12 min-h-screen">
        <div class="s-container">
            <div class="neon-logo w-min m-auto text-5xl ">
                {{ include('_partials/neon_logo.html.twig') }}
            </div>
            <h2>Créer un Club</h2>
            <div class="form-control">

                {{ form_start(form) }}

                <div class="flex flex-col justify-center items-center">

                    <label>Nom du club</label>

                    {{ form_errors(form.name) }}

                    {{ form_widget(form.name) }}


                    <button type="submit" class="neon_button--blue mt-4">Créer le club</button>
                </div>

                {{ form_end(form) }}


            </div>
        </div>
    </section>

{% endblock %}



