{% extends 'base.html.twig' %}

{% block title %}
Movie Recall - watchlist
{% endblock %}

{% block body %}

<section id="Club-movieTodo" class=" bg-popcorn-girl px-4 pb-10 min-h-screen">

    <div class="s-container">
        <div class="neon-logo w-min m-auto text-5xl ">
            {{ include('_partials/neon_logo.html.twig') }}
        </div>
        <h2>Films à voir</h2>

        <div class="movieCards-wrapper">

        {% for movie in moviesTodoDisplay %}
            <div class="movieCards-card">
                <p>
                    {{ movie.title }}
                </p>
                <p>
                    {{ movie.year }}
                </p>

                <div class="movieCards-img-container">
                    <img src="{{ movie.image }}"
                         alt="poster de {{ movie.title }}">
                </div>
                <p class="text-xs">
                    {% set plot = movie.plotLocal %}
                    {{ plot|length > 100
                    ? plot|slice(0, 100) ~ ' ...'
                    : plot }}
                </p>
                <div class="movieCards-buttons">

                    <a href="{{ path('movie_show', {'imdbId' : movie.id}) }}"
                       class="neon_button--blue">
                        Voir Plus
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


